
* {
    
    margin: 0;
    padding: 0;
  
  }

.ocultar {
    display: none;
}

h1 {
    color: rgb(10, 70, 10);
    background-color: aqua;
    text-align: center;
    font-size: 2cm;
    font-family:  'Orbitron', sans-serif;
    margin-bottom: 5%;
}

h2 {
    color: rgb(10, 70, 10);
    background-color: aqua;
    font-family: 'Lucida Sans';
    margin-bottom: 5%;
}

#box1 {
    border: 5px solid black;
    background-image: url(https://media.tenor.com/images/e5f477f2b76c22e3def700c6bd7ef036/tenor.gif);
    height: 650px;
}

#box2 {
    background-color: palevioletred;
    height: 650px;
    background-color: #151615;
    background-image: linear-gradient(225deg, #151615 0%, #56b71b 50%, #101010 100%);

}

#box3 {
    background-color: palevioletred;
    height: 650px;
    background-color: #151615;
    background-image: linear-gradient(225deg, #151615 0%, #56b71b 50%, #101010 100%);

}

#aceptar {
    height: 30px;
    background-color: aqua;
    border: 3px solid rgb(10, 70, 10);
    color: rgb(10, 70, 10);
    text-align: center;
    font-family: 'Lucida Sans';
    font-weight: bold;
    display: inline-block;
    font-size: 20px;
    border-radius: 6px;

}

#name {
    height: 25px;
    border: 3px solid rgb(10, 70, 10);
    color: rgb(10, 70, 10);
    font-family: 'Lucida Sans';
    font-weight: bold;
    display: inline-block;
    font-size: 20px;
    border-radius: 6px;
}

li {
    list-style-type: decimal;
    text-align: center;
}

#instrucciones {
    text-align: center;
}

#box4 {
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 500px;
}

#box5 {
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 500px;
}

#codificar {
    height: 25px;
    border: 3px solid rgb(10, 70, 10);
    color: rgb(10, 70, 10);
    font-family: 'Lucida Sans';
    font-weight: bold;
    display: inline-block;
    left: 15%;
    font-size: 14px;
}

#decodificar {
    height: 25px;
    border: 3px solid rgb(10, 70, 10);
    color: rgb(10, 70, 10);
    font-family: 'Lucida Sans';
    font-weight: bold;
    display: inline-block;
    font-size: 14px;
}

#finalizar {
    height: 25px;
    border: 3px solid rgb(10, 70, 10);
    color: rgb(10, 70, 10);
    font-family: 'Lucida Sans';
    font-weight: bold;
    display: inline-block;
    font-size: 14px;
}

#continuar {
    height: 25px;
    border: 3px solid rgb(10, 70, 10);
    color: rgb(10, 70, 10);
    font-family: 'Lucida Sans';
    font-weight: bold;
    display: inline-block;
    font-size: 14px;
}

#box6 {
    display: inline-block;
    vertical-align: top;
    margin-top: 25px;
}

#box7 {
    display: inline-block;
}

#box8 {
    display: inline-block;
}

#box9 {
    display: inline-block;
    vertical-align: top;
    margin-top: 35px;
}

#cajacodificar {
    width: 500px;
    height: 100px;
    border-radius: 6px;
}

#cajadecodificar {
    width: 500px;
    height: 100px;
}

#numerosab {
    border-radius: 6px;
    text-align: center;
    height: 25px;
    width: 300px;
    border: 3px solid rgb(10, 70, 10);
    color: rgb(10, 70, 10);
    font-family: 'Lucida Sans';
    font-weight: bold;
    display: inline-block;
    font-size: 20px;
    size: "100"
}

#lista1 {
    list-style-position: inside;
}

ol li {
    background: #010911;
    padding: 5px;
    margin-left: 80px;
    margin-right: 80px;
    font-family: 'Lucida Sans';
    color: white;
    
}

ul li {
    background: #010911;
    margin: 5px;
    font-family: 'Lucida Sans';
    color:white;
}

h4 {
    margin-bottom: 5%;
    font-size: 25px;
    color: rgb(10, 70, 10);
    background-color: aqua;
    font-family: 'Lucida Sans';
}

h3 {
    font-size: 25px;
    color: rgb(10, 70, 10);
    background-color: aqua;
    font-family: 'Lucida Sans';
    margin-bottom: 5%;
}

#userww {
    font-weight: bolder;
    font-size: 25px;
    color: rgb(10, 70, 10);
    background-color: aqua;
    font-family: 'Lucida Sans';
    margin-bottom: 5%;
}